body.login-pf {
    background: url("bg-plain.jpg") no-repeat 50% 0;
    background-size: auto;
    background-color: #101010;
}

#badge {
    width: 300px;
    height: 200px;
    background-image: url("logo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

#brand {
    font-size: 18pt;
    text-transform: uppercase;
}

#brand:before {
    content: "Patrios Amarok";
}

#index-brand {
    content: "Patrios Amarok";
}

#index-brand:before {
    content: "Patrios Amarok";
}
