[Unit]
Description=Monitor System Temperature
After=systemd-remount-fs.service
RequiresMountsFor=/usr

[Service]
Type=simple
ExecStart=/usr/local/h31/temperature.sh
StandardOutput=journal
StandardError=journal
Restart=on-failure
RestartSec=30
StartLimitInterval=300
StartLimitBurst=5
TimeoutStartSec=0
TimeoutStopSec=5

[Install]
WantedBy=multi-user.target
